// COLORS:
$color-yellow: #efead0;
$color-black: #1b1c13;
$color-orange: #f26539;
$color-blue: #1e3ba7;

// FONTS:
@font-face {
  font-family: BourtonBase;
  src: url(Bourton-Base.ttf);
}

// TIMING:
$speed-normal: 0.2s;

// SIZES:
$size-letter-normal: 15px;
$size-letter-big: $size-letter-normal * 1.4;
$size-letter-small: $size-letter-normal * 0.7;

// SPACING:
$eye-hover-area-margin: 3rem;
$screen-edge-horizontal-margin: 1rem;
$screen-edge-vertical-margin: 0;
$border-line-width: 3px;

// Z-INDEX LEVELS:
$level-layer-top: 100;
$level-layer-high: 75;
$level-layer-middle: 50;
$level-layer-low: 25;
$level-layer-bottom: 0;
