@use '../../../styles/settings' as *;
@use '../../../styles/mixins' as *;

.cloud-left {
  position: absolute;
  top: 0;
  left: 0;
  animation: cloud-left 5s ease-in-out infinite alternate-reverse;

  .cloud-left-shape {
    path {
      transition: $speed-normal;
      animation: cloud-left-shape-path 2s ease-in-out infinite alternate-reverse;
    }
  }

  @include screens-smaller-than(sm) {
    transform: translate(-10%, -70%) scale(0.8, -0.8);
  }
}