@use "../../../styles/functions" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/settings" as *;

$-size-eye-height: 265px;
$-size-eye-clip: 350px;
$-size-eyeball: 250px;

.eye-clip {
  position: absolute;
  height: $-size-eye-clip;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.3);
  transition: transform $speed-smoke;
  overflow: hidden;

  @include screens-smaller-than(sm) {
    transform: translate(-50%, -50%) scale(0.25);
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $-size-eye-clip;
    height: $-size-eye-clip;
    border-radius: 0 70%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .eye {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    &:after {
      content: "";
      position: absolute;
      top: $margin-eye-hoverArea * -1;
      bottom: $margin-eye-hoverArea * -1;
      left: $margin-eye-hoverArea * -1;
      right: $margin-eye-hoverArea * -1;
      border-radius: 50%;
    }

    &:focus {
      & > .eye-ball {
        transform: translate(-50%, -50%) scale(1.3);
      }
    }

    .eye-ball-cursor-follower {
      transition: background-color $speed-eye-blink;

      &.is-stalled {
        transition: $speed-eye-blink;
      }
    }
  }

  .eye-lids-simple {
    position: absolute;
    top: 0;
    left: 0;
  }

  .eye-ball-clip {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - #{$width-border-line});
    height: calc(#{$-size-eye-height} - #{$width-border-line});
    overflow: hidden;
    transform: translate(-50%, -50%);
  }

  .eye-ball-boundary {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
  }

  .eye-ball {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $-size-eyeball;
    height: $-size-eyeball;
    border-radius: 50%;
    transition: 
      top $speed-normal, 
      left $speed-eye-blink,
      background-color $speed-eye-blink;
    transform: translate(-50%, -50%);
    overflow: hidden;

    & > .eye-inner {
      visibility: hidden;
      width: 100%;
      height: 100%;

      .eye-ball {
        width: $-size-eyeball * 0.7;
        height: $-size-eyeball * 0.7;

        & > .eye-lids-simple {
          transform: translate(-50%, -50%) scale(0.5);
          top: 50%;
          left: 50%;
        }

        & > .eye {
          transform: translate(-50%, -50%) scale(0.27);
          top: 50%;
          left: 50%;
          overflow: hidden;

          .eye-ball {
            width: $-size-eyeball * 1.1;
            height: $-size-eyeball * 1.1;
          }

          .eye-lids-simple {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
          }
        }
      }

      & > .eye-lids {
        position: absolute;
        top: 50%;
        left: 50%;

        &.eye-lids-simple {
          transform: translate(-50%, -50%) scale(0.5) rotate(90deg);
        }

        &.eye-lids-cross {
          transform: translate(-50%, -50%) scale(0.5);
        }
      }
    }
  }
}

.is-eye-tripping {
  .eye-clip {
    transform: translate(-50%, -50%) scale(0.4);

    @include screens-smaller-than(sm) {
      transform: translate(-50%, -50%) scale(0.35);
    }
  }

  .eye-ball-cursor-follower {
    transform: translate(-50%, -50%) scale(1.15);

    & > .eye-inner {
      transition: visibility $speed-eye-blink $speed-eye-blink;
      visibility: visible;
    }
  }
}

// THEME-DEPENDENT COLORING:
@each $theme-name in get-theme-names() {
  .#{$theme-name} {
    .eye-clip {
      /* 
      // Draws a terrible one-pixel-wide contour around the eye:
      clip-path: polygon(
        0% 50%, 
        17% 29%, 
        29% 18%, 
        43% 12%, 
        50% 12%, 
        57% 13%, 
        71% 19%, 
        83% 29%, 
        100% 50%, 
        83% 71%, 
        71% 81%, 
        57% 87%, 
        50% 88%, 
        43% 87%, 
        29% 81%, 
        17% 70%
      );
 */

      &:before {
        background: get-color($theme-name, "eye-white-outermost");
        transition: $speed-eye-blink;
      }

      .eye-lids-simple {
        path {
          fill: get-color($theme-name, "star");
        }
      }

      .eye-ball {
        background: get-color($theme-name, "eye-ball-outermost-normal");

        & > .eye-inner {
          .eye-ball {
            & > .eye-lids-simple {
              path {
                fill: get-color($theme-name, "eye-ball-middle-outer");
              }
            }

            & > .eye {
              .eye-ball {
                &.eye-ball-innermost {
                  background: get-color($theme-name, "eye-ball-innermost");
                }
              }

              .eye-lids-simple {
                &.eye-lids-innermost {
                  path {
                    fill: get-color($theme-name, "eye-ball-middle-inner");
                  }
                }
              }
            }
          }

          & > .eye-lids {
            &.eye-lids-simple {
              path {
                fill: get-color($theme-name, "eye-white-middle-horizontal");
              }
            }
            &.eye-lids-cross {
              path {
                fill: get-color($theme-name, "eye-ball-outermost-tripping");
              }
            }
          }
        }

        & > .eye {
          background: get-color($theme-name, "eye-white-middle-vertical");
        }
      }
    }
  }
}
