/*
HOW TO COMPILE:
- Install SASS globally (sudo npm i sass -g)
- Navigate to file location
- Run sass --watch style.scss style.css --style compressed
*/

// COLORS:
$color-yellow: #efead0;
$color-black: #1b1c13;
$color-orange: #f26539;
$color-blue: #1e3ba7;
$color-transparent: rgba(0, 0, 0, 0);

// FONTS:
@font-face {
  font-family: BourtonBase;
  src: url(Bourton-Base.ttf);
}

// TIMING:
$speed-normal: 0.2s;

// PATHS:
$path-eyeLids-open: "M0,0V265.82H493V0ZM433,182.84C318.5,291.3,178.45,288,60,182.84l-58-50L60,82.93c110.63-105.11,251.6-108.4,373.08,0l58,49.95Z";
$path-eyeLids-close: "M0,0V265.84H493V0ZM433,132.82c-114.54.41-254.59.4-373.08,0l-58-.2L60,132.43c110.63-.4,251.6-.41,373.08,0l58,.19Z";
$path-star-start: "M946.61,339.33,816.08,290.87l-93-34.51,7.68-44L754.71,75.23,638.64,152.12l-84.9,56.24-31.88-79.2L469.88,0,411.8,126.54l-37,80.52-82.93-54.94L175.83,75.23l23.95,137.15L208.43,262l-77.9,28.91L0,339.33l124.92,61.49,82.31,40.52L199.78,484,175.83,621.19,291.91,544.3l84.9-56.25,31.87,79.2,52,129.17,58.08-126.54,37-80.53,82.94,54.95,116.07,76.89L730.77,484l-6.18-35.41,97.1-47.8Z";
$path-star-end: "M889.7,341.78l-148-78L723,256.36,765.7,72.78l6-22-204,148-14.11,9.58-6.89-17.58-83-140-82,141-7,15.28-13-9.28-209-147,5,19L208.29,262,77.7,332.78l-17,9,132,90,14.38,9.56-2.38,12.44-45,197,217-162,0-.73,6,13.73,78,149,87-145,7.86-16.43,12.14,8.43,211,153-51-186-3.25-16.16,12.25-5.84Z";
$path-cloud-left-start: "M.08,0C72.45,11.58,165.13,54.46,205,136.72s52,189.48,32.55,287c-8.43,42.23-22.61,84.81-17.91,127.53,5.89,53.5,39.88,91.49,74.73,115.9s82,47.78,111.26,83.18c51.6,62.44,71.61,158.17,63.72,253.83a356.91,356.91,0,0,0,3,85.85L0,1089.88Z";
$path-cloud-left-end: "M-2.39,0C75.69,38.05,136.82,87.78,176.69,170.05s77.87,156.15,58.39,253.71c-8.43,42.23-4.09,78.58.61,121.29,5.89,53.5,53.15,102.59,88,127s73.75,54.6,103,90c51.6,62.44,48.09,146.49,40.19,242.15a356.91,356.91,0,0,0,3,85.85l-472.31-.17Z";
$path-cloud-right-start: "M397.88,0C345,5,289.89,20.39,257.39,58c-33.58,38.83-43.21,96.24-30.92,144.38,5.32,20.84,14.55,41.8,10.95,63-4.52,26.56-28,45.71-51.88,58.13S135.21,344.55,115,362.36c-35.65,31.43-56,82.45-51.54,129.76C68.55,546.32,41.24,590.8,0,614.41l398,1.41Z";
$path-cloud-right-end: "M397,.07C344.11,5,308.58,40.9,276.08,78.48c-33.58,38.84-49,75-50.49,124-.65,21.5-5.9,51.85-9.51,73.05-4.51,26.56-7.51,35.66-31.41,48.08s-53.38,18.11-70.55,38.87c-24,29.05-46.57,82.5-51.54,129.76-5.5,52.29-22.21,98.68-63.46,122.29l398,1.41Z";

// SETTINGS:
$eye-hover-area-margin: 3em;
$screen-edge-horizontal-margin: 2em;
$screen-edge-vertical-margin: 2em;
$border-line-width: 3px;

// STYLES:
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: BourtonBase;
}

header {
  position: absolute;
  top: $screen-edge-vertical-margin;
  left: $screen-edge-horizontal-margin;
  right: $screen-edge-horizontal-margin;
  font-size: 18px;
}

footer {
  position: absolute;
  display: flex;
  bottom: $screen-edge-vertical-margin;
  left: $screen-edge-horizontal-margin;
  right: $screen-edge-horizontal-margin;
  align-items: flex-end;
  justify-content: space-between;

  .dropdown-container {
    li {
      &:not(:last-of-type) {
        margin-bottom: 1em;
      }
    }

    button {
      transition: color $speed-normal;

      &:focus,
      &:hover {
        color: $color-yellow;
      }
    }

    .dropdown {
      top: unset;
      left: unset;
      bottom: calc(100% - #{$border-line-width});
      right: 0;
      transform: none;
      border: none;
    }
  }
}

a {
  transition: color $speed-normal;

  &:focus {
    outline: none;
  }
}

.nav-list {
  display: flex;
  width: 100%;
  max-width: 40em;
  margin: 1em auto;
  justify-content: space-between;

  li {
    &:nth-child(odd) {
      button {
        color: $color-black;
        
        &:focus,
        &:hover {
          border-bottom: $border-line-width solid $color-yellow;
        }
      }
    }

    &:nth-child(even) {
      button {
        color: $color-yellow;

        &:focus,
        &:hover {
          border-bottom: $border-line-width solid $color-black;
        }
      }
    }
  }

  details {
    width: 100%;
  }

  a {
    display: block;
    padding: 0.5em;

    &,
    &:active,
    &:visited {
      color: $color-yellow;
      text-decoration: none;
    }

    &:focus,
    &:hover {
      color: $color-orange;
    }
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: none;
  border-top: $border-line-width solid $color-transparent;
  border-bottom: $border-line-width solid $color-transparent;

  &:focus {
    outline: none;
  }
}

.link-email {
  &,
    &:active,
    &:visited {
      color: $color-orange;
    }

    &:focus,
    &:hover {
      text-decoration: none;
    }

  &:before {
    content: attr(data-name) "@";
  }

  &:after {
    content: attr(data-domain) "." attr(data-tld); 
  }
}

.dropdown-container {
  position: relative;

  .dropdown {
    position: absolute;
    display: none;
    top: calc(100% - #{$border-line-width});
    left: 50%;
    padding: 1em;
    transform: translateX(-50%);
    background: $color-black;
    color: $color-yellow;
    border-top: $border-line-width solid $color-yellow;
  }

  &.dropdown-state-open {
    .dropdown {
      display: block;
    }
  }
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $color-orange;
  overflow: hidden;
}

.eye {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background: $color-yellow;
  transform: translate(-50%, -50%) scale(0.3, 0.3);

  &:after {
    content: "";
    position: absolute;
    top: $eye-hover-area-margin * -1;
    bottom: $eye-hover-area-margin * -1;
    left: $eye-hover-area-margin * -1;
    right: $eye-hover-area-margin * -1;
    border-radius: 50%;
  }

  &:focus,
  &:hover {
    .eye-lids {
      path {
        animation: eye-lids-hover 0.05s ease-in-out;
      }
    }
  }

  &:not(:hover) {
    .eye-lids {
      path {
        animation: eye-lids-path 12s ease-in-out 0.25s infinite alternate;
      }
    }
  }
}

.eye-lids {
  position: absolute;
  top: 0;
  left: 0;

  path {
    transition: $speed-normal;
    fill: $color-black;
    d: path($path-eyeLids-close);
  }
}

.eye-ball-clip {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - #{$border-line-width});
  height: calc(100% - #{$border-line-width});
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.eye-ball-boundary {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
}

.eye-ball {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background: $color-blue;
  transition: $speed-normal;
  transform: translate(-50%, -50%);
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.4, 0.4);

  .star-shape {
    position: absolute;
    top: 0;
    left: 0;

    path {
      transition: $speed-normal;
      fill: $color-black;
      animation: star-path 0.7s ease-in-out infinite alternate-reverse;
    }
  }
}

.cloud-left {
  position: absolute;
  top: 0;
  left: 0;
  animation: cloud-left 5s ease-in-out infinite alternate-reverse;

  .cloud-left-shape {
    path {
      transition: $speed-normal;
      fill: $color-yellow;
      animation: cloud-left-shape-path 2s ease-in-out infinite alternate-reverse;
    }
  }
}

.cloud-right {
  position: absolute;
  top: 0;
  left: 79%;
  animation: cloud-right 7s ease-in-out 0.5s infinite alternate-reverse;

  .cloud-right-shape {
    path {
      transition: $speed-normal;
      fill: $color-yellow;
      animation: cloud-right-shape-path 3s ease-in-out infinite alternate;
      d: path($path-cloud-right-start);
    }
  }
}

// ANIMATIONS:
@keyframes star-path {
  from {
    d: path($path-star-start);
  }
  to {
    d: path($path-star-end);
  }
}

@keyframes eye-lids-path {
  0% {
    d: path($path-eyeLids-close);
  }
  1% {
    d: path($path-eyeLids-open);
  }
  19% {
    d: path($path-eyeLids-open);
  }
  20% {
    d: path($path-eyeLids-close);
  }
  21% {
    d: path($path-eyeLids-open);
  }
  50% {
    d: path($path-eyeLids-open);
  }
  51% {
    d: path($path-eyeLids-close);
  }
  52% {
    d: path($path-eyeLids-open);
  }
  56% {
    d: path($path-eyeLids-open);
  }
  57% {
    d: path($path-eyeLids-close);
  }
  58% {
    d: path($path-eyeLids-open);
  }
  78% {
    d: path($path-eyeLids-open);
  }
  79% {
    d: path($path-eyeLids-close);
  }
  80% {
    d: path($path-eyeLids-open);
  }
  94% {
    d: path($path-eyeLids-open);
  }
  95% {
    d: path($path-eyeLids-close);
  }
  96% {
    d: path($path-eyeLids-open);
  }
  100% {
    d: path($path-eyeLids-open);
  }
}

@keyframes eye-lids-hover {
  from {
    d: path($path-eyeLids-open);
  }
  to {
    d: path($path-eyeLids-close);
  }
}

@keyframes cloud-left {
  from {
    top: 0%;
  }
  to {
    top: 20%;
  }
}

@keyframes cloud-right {
  from {
    left: 89%;
  }
  to {
    left: 79%;
  }
}

@keyframes cloud-left-shape-path {
  from {
    d: path($path-cloud-left-start);
  }
  to {
    d: path($path-cloud-left-end);
  }
}

@keyframes cloud-right-shape-path {
  from {
    d: path($path-cloud-right-start);
  }
  to {
    d: path($path-cloud-right-end);
  }
}
