@use './settings' as *;

@mixin screens-smaller-than($size-label) {
  @media only screen and (max-width: map-get($breakpoints, $size-label)) {
    @content;
  }
}

@mixin screens-bigger-than($size-label) {
  @media only screen and (min-width: map-get($breakpoints, $size-label)) {
    @content;
  }
}

@mixin background-glitch-animation-keyframes() {
  @keyframes background-glitch {
    0% {
      background-position: top;
    }

    33% {
      background-position: bottom;
    }

    66% {
      background-position: left;
    }

    99% {
      background-position: right;
    }
  }
}

@mixin background-glitch-animation($speed-animation: 1.5s) {
  animation: background-glitch $speed-animation steps(4) infinite;

  @keyframes background-glitch {
    0% {
      background-position: top;
    }

    33% {
      background-position: bottom;
    }

    66% {
      background-position: left;
    }

    99% {
      background-position: right;
    }
  }
}
