@use '../../../styles/settings' as *;
@use '../../../styles/mixins' as *;
@use "../../../styles/functions" as *;

.cloudRight {
  position: absolute;
  top: 0;
  left: 79%;
  animation: cloud-right 6s ease-in-out 0.5s infinite alternate-reverse;
  transition: transform $speed-smoke;
  z-index: $level-layer-middle;

  .cloudRightShape {
    path {
      transition: $speed-normal;
    }
  }

  @include screens-smaller-than(sm) {
    transform: translate(-50%, -30%) scaleY(-0.8);
  }

  &.isEyeTripping {
      transform: scale(1.2);

      @include screens-smaller-than(sm) {
        transform: translate(-50%, -30%) scaleY(-1);
      }
  }

  // THEME-DEPENDENT COLORING:
  @each $theme-name in get-theme-names() {
    &.#{$theme-name} {
  
        .cloudRightShape {
          path {
            fill: get-color($theme-name, "cloud-right");
          }
        }
      }
  
  }
}

@keyframes cloud-right {
  from {
    left: 89%;
  }
  to {
    left: 79%;
  }
}

