@import "./paths";

@mixin blinking-keyframe-sequence-long(
  $keyframes-name,
  $path-open,
  $path-close
) {
  @keyframes #{$keyframes-name} {
    0% {
      d: path($path-close);
    }
    1% {
      d: path($path-open);
    }
    19% {
      d: path($path-open);
    }
    20% {
      d: path($path-close);
    }
    21% {
      d: path($path-open);
    }
    50% {
      d: path($path-open);
    }
    51% {
      d: path($path-close);
    }
    52% {
      d: path($path-open);
    }
    56% {
      d: path($path-open);
    }
    57% {
      d: path($path-close);
    }
    58% {
      d: path($path-open);
    }
    78% {
      d: path($path-open);
    }
    79% {
      d: path($path-close);
    }
    80% {
      d: path($path-open);
    }
    94% {
      d: path($path-open);
    }
    95% {
      d: path($path-close);
    }
    96% {
      d: path($path-open);
    }
    99% {
      d: path($path-open);
    }
    100% {
      d: path($path-close);
    }
  }
}

@mixin blinking-keyframe-sequence-short(
  $keyframes-name,
  $path-open,
  $path-close
) {
  @keyframes #{$keyframes-name} {
    0% {
      d: path($path-close);
    }
    1% {
      d: path($path-open);
    }
    25% {
      d: path($path-open);
    }
    26% {
      d: path($path-close);
    }
    27% {
      d: path($path-open);
    }
    61% {
      d: path($path-open);
    }
    62% {
      d: path($path-close);
    }
    63% {
      d: path($path-open);
    }
    94% {
      d: path($path-open);
    }
    95% {
      d: path($path-close);
    }
    96% {
      d: path($path-open);
    }
    99% {
      d: path($path-open);
    }
    100% {
      d: path($path-close);
    }
  }
}

@include blinking-keyframe-sequence-short(
  eye-lids-simple-path-sequence-short,
  $path-eyeLids-simple-open,
  $path-eyeLids-simple-close
);

@include blinking-keyframe-sequence-short(
  eye-lids-cross-path-sequence-short,
  $path-eyeLids-cross-open,
  $path-eyeLids-cross-close
);

@include blinking-keyframe-sequence-long(
  eye-lids-simple-path-sequence-long,
  $path-eyeLids-simple-open,
  $path-eyeLids-simple-close
);

@keyframes eye-lids-simple-path-close {
  from {
    d: path($path-eyeLids-simple-open);
  }
  to {
    d: path($path-eyeLids-simple-close);
  }
}
