@import './paths';

@keyframes eye-lids-simple-path {
  0% {
    d: path($path-eyeLids-simple-close);
  }
  1% {
    d: path($path-eyeLids-simple-open);
  }
  19% {
    d: path($path-eyeLids-simple-open);
  }
  20% {
    d: path($path-eyeLids-simple-close);
  }
  21% {
    d: path($path-eyeLids-simple-open);
  }
  50% {
    d: path($path-eyeLids-simple-open);
  }
  51% {
    d: path($path-eyeLids-simple-close);
  }
  52% {
    d: path($path-eyeLids-simple-open);
  }
  56% {
    d: path($path-eyeLids-simple-open);
  }
  57% {
    d: path($path-eyeLids-simple-close);
  }
  58% {
    d: path($path-eyeLids-simple-open);
  }
  78% {
    d: path($path-eyeLids-simple-open);
  }
  79% {
    d: path($path-eyeLids-simple-close);
  }
  80% {
    d: path($path-eyeLids-simple-open);
  }
  94% {
    d: path($path-eyeLids-simple-open);
  }
  95% {
    d: path($path-eyeLids-simple-close);
  }
  96% {
    d: path($path-eyeLids-simple-open);
  }
  99% {
    d: path($path-eyeLids-simple-open);
  }
  100% {
    d: path($path-eyeLids-simple-close);
  }
}



@keyframes eye-lids-cross-path {
  0% {
    d: path($path-eyeLids-cross-close);
  }
  1% {
    d: path($path-eyeLids-cross-open);
  }
  25% {
    d: path($path-eyeLids-cross-open);
  }
  26% {
    d: path($path-eyeLids-cross-close);
  }
  27% {
    d: path($path-eyeLids-cross-open);
  }
  61% {
    d: path($path-eyeLids-cross-open);
  }
  62% {
    d: path($path-eyeLids-cross-close);
  }
  63% {
    d: path($path-eyeLids-cross-open);
  }
  94% {
    d: path($path-eyeLids-cross-open);
  }
  95% {
    d: path($path-eyeLids-cross-close);
  }
  96% {
    d: path($path-eyeLids-cross-open);
  }
  99% {
    d: path($path-eyeLids-cross-open);
  }
  100% {
    d: path($path-eyeLids-cross-close);
  }
}

@keyframes eye-lids-simple-hover {
  from {
    d: path($path-eyeLids-simple-open);
  }
  to {
    d: path($path-eyeLids-simple-close);
  }
}