@use '../../../styles/settings' as *;
@use "../../../styles/functions" as *;

a {
  &,
  &:active,
  &:visited {
    transition: color $speed-normal;
  }

  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
  }
}

// THEME-DEPENDENT COLORING:
@each $theme-name in get-theme-names() {
  .#{$theme-name} {
    a {
      &,
      &:active,
      &:visited {
        color: get-color($theme-name, "link-general");
      }
    }
  }
}
