html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: BourtonBase;
}

header {
  position: absolute;
  top: $screen-edge-vertical-margin;
  left: $screen-edge-horizontal-margin;
  right: $screen-edge-horizontal-margin;
  font-size: 18px;
  z-index: $level-layer-high;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $level-layer-middle;
}

footer {
  position: absolute;
  bottom: $screen-edge-vertical-margin;
  width: 100%;
  text-align: center;
  z-index: $level-layer-high;

  small {
    display: inline-block;
    max-width: 25em;
    padding: 0 $screen-edge-horizontal-margin;
    font-size: $size-letter-small;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

dl {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: none;
  border-top: $border-line-width solid transparent;
  border-bottom: $border-line-width solid transparent;

  &:focus {
    outline: none;
  }
}

a {
  transition: color $speed-normal;

  &:focus {
    outline: none;
  }
}