html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: BourtonBase;
  font-size: $size-letter-normal;
}

header {
  position: absolute;
  top: $margin-screen-edge-vertical;
  left: $margin-screen-edge-horizontal;
  right: $margin-screen-edge-horizontal;
  padding: $size-margin-header;
  font-size: 18px;
  z-index: $level-layer-high;

  @include screens-smaller-than(md) {
    text-align: center;
    padding: 1em;
  }
}

main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $level-layer-middle;
}

footer {
  position: absolute;
  bottom: $margin-screen-edge-vertical;
  width: 100%;
  text-align: right;
  z-index: $level-layer-high;

  small {
    display: inline-block;
    max-width: 25em;
    padding: 0 $margin-screen-edge-horizontal;
    font-size: $size-letter-small;

    @include screens-smaller-than(md) {
      font-size: $size-letter-smallest;
    }
  }

  @include screens-smaller-than(md) {
    text-align: center;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

dl {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: none;
  border-top: $width-border-line solid transparent;
  border-bottom: $width-border-line solid transparent;

  &:focus {
    outline: none;
  }
}

a {
  &,
  &:active,
  &:visited {
    transition: color $speed-normal;
    color: $color-yellow;
  }

  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
  }
}

small {
  p {
    margin: 0.5em 0;
  }
}