.nav-list {
  display: flex;
  width: 100%;
  max-width: 50em;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: $size-letter-big;

  li {
    &:nth-child(odd) {
      button {
        color: $color-black;

        &:focus,
        &:hover {
          border-bottom: $width-border-line solid $color-yellow;
        }
      }
    }

    &:nth-child(even) {
      button {
        color: $color-yellow;

        &:focus,
        &:hover {
          border-bottom: $width-border-line solid $color-black;
        }
      }
    }

    @include screens-bigger-than(sm) {
      &:first-child {
        .dropdown {
          left: 0;
          transform: none;
        }
      }

      &:last-child {
        .dropdown {
          left: unset;
          right: 0;
          transform: none;
        }
      }
    }
  }

  dt {
    &:not(:first-of-type) {
      margin-top: 1em;
    }
  }

  dd {
    margin: 0;
  }

  details {
    width: 100%;
  }

  a {
    &:not(.link-email) {
      display: block;
      padding: 0.5em;

      &,
      &:active,
      &:visited {
        color: $color-yellow;
        text-decoration: none;
      }

      &:focus,
      &:hover {
        color: $color-orange;
      }
    }
  }

  @include screens-smaller-than(sm) {
    position: fixed;
    bottom: $size-margin-header * 2;
    left: 0;
    font-size: $size-letter-normal;
  }
}
