.site-logo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 10em;
  height: 10em;

  &:focus {
    transform: scale($size-focus-scale);
  }

  @include screens-smaller-than(sm) {
    position: relative;
  }
}
