@use "../../../styles/settings" as *;
@use "../../../styles/mixins" as *;

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .star-shape {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.4);

    path {
      transition: $speed-normal;
      animation: star-path 1.4s ease-in-out infinite alternate-reverse forwards;
    }

    @include screens-smaller-than(sm) {
      transform: scale(0.2);
    }
  }

  &.is-grown {
    .star-shape {
      transform: rotate(10deg) scale(0.6, 0.65);

      @include screens-smaller-than(sm) {
        transform: rotate(10deg) scale(0.25, 0.275);
      }
    }
  }
}
