@use "../../../styles/settings" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/functions" as *;

$-width: 946px;
$-height: 696px;
$-scale-normal: 0.45;
$-scale-trippy: 0.56;

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $-width * $-scale-normal;
  height: $-height * $-scale-normal;
  transform: translate(-50%, -50%);
  transition: width $speed-smoke, height $speed-smoke, background-color $speed-normal;
  animation: star 3.4s ease-in-out infinite alternate-reverse;
  z-index: $level-layer-middle + 1;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    background: url('src/assets/images/texture_6.png');
    @include background-glitch-animation();
  }
}

.is-eye-tripping {
  .star {
    width: $-width * $-scale-trippy;
    height: $-height * $-scale-trippy;
  }
}

// THEME-DEPENDENT COLORING:
@each $theme-name in get-theme-names() {
  .#{$theme-name} {
    .star {
      background: get-color($theme-name, "star");
    }
  }
}

@keyframes star {
  /* 0% {
    clip-path: polygon(
      50% 22%,
      69% 4%,
      71% 30%,
      97% 26%,
      79% 50%,
      97% 75%,
      71% 71%,
      69% 95%,
      50% 79%,
      31% 96%,
      30% 71%,
      1% 74%,
      21% 50%,
      3% 28%,
      29% 29%,
      31% 4%
    );
  } */

  from {
    clip-path: polygon(28% 2%, 50% 26%, 73% 1%, 74% 31%, 98% 34%, 79% 53%, 98% 75%, 70% 73%, 68% 98%, 50% 76%, 34% 97%, 30% 73%, 4% 74%, 26% 54%, 1% 33%, 30% 30%);
  }

  to {
    clip-path: polygon(30% 4%, 50% 24%, 70% 5%, 74% 31%, 96% 35%, 80% 53%, 95% 74%, 69% 72%, 68% 96%, 50% 78%, 34% 96%, 31% 72%, 5% 73%, 24% 52%, 2% 32%, 32% 32%);
  }
}
