@use '../../../styles/settings' as *;
@use '../../../styles/mixins' as *;
@use "../../../styles/functions" as *;

.cloud-right {
  position: absolute;
  top: 0;
  left: 79%;
  animation: cloud-right 6s ease-in-out 0.5s infinite alternate-reverse;
  transition: transform $speed-smoke;
  z-index: $level-layer-middle;

  .cloud-right-shape {
    path {
      transition: $speed-normal;
    }
  }

  @include screens-smaller-than(sm) {
    transform: translate(-50%, -30%) scaleY(-0.8);
  }
}

.is-eye-tripping {
  .cloud-right {
    transform: scale(1.2);

    @include screens-smaller-than(sm) {
      transform: translate(-50%, -30%) scaleY(-1);
    }
  }
}

@keyframes cloud-right {
  from {
    left: 89%;
  }
  to {
    left: 79%;
  }
}

// THEME-DEPENDENT COLORING:
@each $theme-name in get-theme-names() {
  .#{$theme-name} {
    .cloud-right {
      .cloud-right-shape {
        path {
          fill: get-color($theme-name, "cloud-right");
        }
      }
    }
  }
}
