@use '../../../styles/settings' as *;
@use '../../../styles/mixins' as *;

footer {
  position: absolute;
  bottom: $margin-screen-edge-vertical;
  width: 100%;
  text-align: right;
  z-index: $level-layer-high;

  small {
    display: inline-block;
    max-width: 25em;
    padding: 0 $margin-screen-edge-horizontal;
    font-size: $size-letter-small;

    @include screens-smaller-than(md) {
      font-size: $size-letter-smallest;
    }
  }

  @include screens-smaller-than(md) {
    text-align: center;
  }
}