@use '../../../styles/settings' as *;
@use "../../../styles/functions" as *;

main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $level-layer-middle;
}

.canvas {
  transition: background-color $speed-normal;
}

// THEME-DEPENDENT COLORING:
@each $theme-name in get-theme-names() {
  .#{$theme-name} {
    .canvas {
      background: get-color($theme-name, "background");
    }
  }
}
